<nav class="bg-dark px-5">
  <div class="site-title ">
    <h1><a href="/">Blog Ninja</a></h1>
  </div>
  <ul>
    <li><a href="/">Blogs</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blogs_create">New Blog</a></li>
  </ul>
</nav>