<html lang="en">

<%- include("./partials/head.ejs") %>

  <body>
    <%- include ("./partials/nav.ejs")%>
      <div class="container">
        <h1>About</h1>
        <h2>Your path to becoming a Node.js ninja!</h2>
        <nav class="d-block">
          <a href="/">Homepage</a> ||
          <a href="/about">About page</a>
        </nav>
      </div>
      <%- include ("./partials/footer.ejs") %>
  </body>

</html>