<html lang="en">

<%- include("../partials/head.ejs") %>

  <body>
    <%- include ("../partials/nav.ejs")%>
      <div class="container">
        <div class="blogs content mt-5 container">
          <div class="create-blog-content card p-3 border-dark">
            <form action="/blogs" method="POST">
              <div class="form-group">
                <label for="title">Blog title:</label>
                <input class="form-control" type="text" name="name" placeholder="Default input" id="title">
              </div>
              <div class="form-group mt-3">
                <label for="snippet">Blog snippet:</label>
                <input class="form-control" type="text" name="snippet" placeholder="Default input" id="snippet">
              </div>
              <div class="form-group">
                <label for="body">Blog body:</label>
                <textarea id="body" required class="form-control" name="body"></textarea>
              </div>
              <button class="btn btn-sm btn-primary" type="submit">Submit</button>
            </form>
          </div>
        </div>
      </div>
      <%- include("../partials/footer.ejs") %>

  </body>

</html>